# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Ficheiros temporarios
*~
*.swp
*.swo

#Lixo
lixo/

#zip e tar
*.zip
*.tar

#Executavel do projecto
#Usar o make para compilar sempre que necessario
gesthiper
ges-valgrind
gesval

# Ficheiros de projecto do netbeans
/nbproject/
/dist/
/build/
.dep.inc
*.mk

# Makefile do netbeans. 
# Usar a 'makefile' (note-se que esta tudo em minusculas) 
# para correr o make pelo terminal.
DocsAux/~$queries_modulos.xlsx



